/**
 *
 * All scss here
 */

//all fonts 
 @font-face {
  font-family: 'OpenSans-Regular';
  src: url('/assets/fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
 @font-face {
  font-family: 'OpenSans-Bold';
  src: url('/assets/fonts/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
 @font-face {
  font-family: 'HelveticaNeue2';
  src: url('/assets/fonts/HelveticaNeue2.ttf')  format('truetype'), /* Safari, Android, iOS */
}
 @font-face {
  font-family: 'OpenSans-Light';
  src: url('/assets/fonts/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
 @font-face {
  font-family: 'OpenSans-Italic';
  src: url('/assets/fonts/OpenSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
 @font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('/assets/fonts/OpenSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

///all variables  
$font-stack-bold:OpenSans-Bold;
$font-stack-reg:OpenSans-Regular; 
$font-stack-light:OpenSans-Light; 
$width-full:100%;
$font-stack-extra-bold:OpenSans-ExtraBold; 
$border-color:#0BC9C8;
$white:#FFFFFF;

///mixins 
@mixin border-radius($radius) {
	border-radius:$radius; 
}

///header section - everything in the header 
.header {
	width:$width-full;
	box-shadow:0 8px 6px -6px #888;	
	overflow:auto; 
}
.header:first-child {
	margin-left:15px;
}
.desktop-header {
	display:none; 
}
.drop-menu {
	display:none; 
	z-index:1000000;
	border-top:4px solid $border-color; 
	border-bottom:4px solid $border-color; 
    position:absolute;
	font-size:12px;
	background-color:$white;
	li {
		font-family:HelveticaNeue2; 
		font-size:18px;
		background-color:#F6F6F6; 
		padding:40px 15px 40px 10px; 
		margin-bottom:5px;  
		color:#616161;	 
	} 
	li:first-child{
		background-color:$white; 
		color:#216DDF; 
		text-align:center;  
		text-transform:uppercase;
		font-weight:900;  
	}
	li:nth-child(5n) {
		margin-bottom:0px; 
	}
	a {
		color:$border-color;
		text-transform:lowercase;
		text-decoration:none; 
		float:right; 
		padding-left:175px; 
	}
	a:hover {
		color:#216DDF;
	}
}
.pool-pro {
	display:none; 
}
button {
	border: 2px solid #216DDF; 
	font-size:13px;
	background-color:white;
	@include border-radius(2px); 
	font-family:$font-stack-bold;
	color:#216DDF;
	text-transform:uppercase;
	padding:7px; 
	margin-left:10px;
	margin-top:5px;
		.fa-map-marker{
			margin-right:5px;
			font-size:20px;
		}
}
.hamburger {
	border:none;
	font-size:25px; 
	width:50px;
	height:50px;
	border-radius:50%;
	box-shadow: 0 0 2px 2px #888;
	}
.cross {
	display:none; 
	color:$border-color;
	font-size:40px;
	border:none;   
}
.filter {
	position:relative;
	background-image:url("/assets/images/water-image.png");
	background-position:top;
	z-index:-5;
	border:1px solid white;
	margin-top:-10px;  
}
.dropdown-check-list {
	background-color:#F6F6F6;
	padding:30px;
	position:relative; 
	margin-top:115px; 
		p {
			float:left;
			color:#216DDF;
			font-family:$font-stack-bold;
			font-size:16px;
			padding-top:15px;
			margin-right:5px;
		}
		input::placeholder {
			color:#3F3F3F;
			font-family:$font-stack-bold;
			font-size:15px;
			text-align:center;
		}
		input {
			border:1px solid #D8D8D8;
			padding-top:17px; 
			padding-bottom:15px;
			position:relative;
			margin-left:0; 
			width:120px;
			float:left;
		}	
}
.fa-sort-desc {
			padding:15px 15px 15px 14px; 
			border:1px solid #D8D8D8;
			text-align:center;
			font-size:12px;
			position:relative; 
		}

.desktop-nav {
	display:none; 
}

//media query for the header 		

@media (min-width:473px) {
	.desktop-header {
		display:inline-block; 
		width:$width-full;
		background-color:#083D8C;
		padding:15px 15px 15px 0px;
		text-align:right;
		a {
			text-decoration:none;
			color:$white; 
			font-family:$font-stack-reg; 
			font-size:12px;
			padding-right:5px;
		}
		.fa-external-link {
			padding-left:5px;
		}
	} 
	.no-pool-pro {
		display:none; 
	}
	
	.hamburger {
		display:none; 
	}
	//navigation menu for header
	.desktop-nav { 
		display:inline-block; 
		font-family:$font-stack-bold; 
		font-size:15px;
		text-align:right;  
			ul {
				padding-left:390px;
			}
			li {
				display:inline-block;  
				padding:15px;	
			}
			a {
				text-decoration:none;  
				color:#083D8C;
			}
			a:hover{
				color:pink; 
			}				
	}
	.pool-pro{
		display:inline-block;
		margin-top:20px;
		margin-left:90px;     
	}
}
//Checklist dropdown for mobile 
.options {
	background-color:$white;
	list-style:none;
	padding-top:30px;
	padding-left:30px; 
	padding-bottom:25px;
	.options:checkbox {
		font-family:helvetica; 
		font-size:16px;
		color:#3F3F3F;
	}
}
.options li {
	margin-bottom:35px;
}
.options input[type=checkbox] {
	display:none;
}
.options label {
	font-family:HelveticaNeue2; 
	font-size:16px;
	color:#3F3F3F;
}
.options input[type=checkbox] + label {
	background: url('/assets/images/commercial-radio-btn.png') left top no-repeat;
	padding-left: 40px;
}
.options input[type=checkbox]:checked + label {
	background: url('/assets/images/service-radio-btn.png') left top no-repeat;
	display: block;
	min-height: 23px;
	padding-left: 50px;
}


//Media query for the check list box section 

@media (min-width:800px) {
	.filter {
		background-image:url("/assets/images/full-water-image.png");
	}

	.dropdown-check-list {
		display:inline-block; 
		max-width:1279px;
		border-radius:5px; 
		margin:100px 40px 20px 90px; 
		padding:10px 140px 10px 140px; 
		.fa-sort-desc {
			display:none; 
		}
	}
	.dropdown-check-list {
		input {
			background-color:#F6F6F6;
			border-left:1px solid #D8D8D8;
			border-top:none;
			border-right:none;
			border-bottom:none; 
			padding-top:30px;   
		}
		p {
			padding-top:30px; 
		}
	}
	.options {
		padding:0; 
		display:inline-block; 
		background-color:#F6F6F6;
		li {
			display:inline-block;
			padding-top:20px; 
			padding-left:10px;  
		}
	}
}
//Cards section 
.card-option {
	box-shadow:0 0 10px 1px #ccc;
	margin-right:15px; 
	margin-left:15px; 
}
.card-title {
	font-family:$font-stack-light;
	text-align:center; 
	display:block; 
	padding-top:30px;
	font-size:20px;   
}
.cards hr {
	display:none; 
}
.card-option button {
	display:block;
	margin:15px auto;
	color:#FEFEFE;
	font-size:20px; 
	padding-bottom:0;
	font-family:$font-stack-bold;
		.fa-phone {
			display:inline-block; 
			color:#FEFEFE;
			background-color:#083D8C;
			padding:5px;
			margin-bottom:5px;
		}
		.tap {
			font-family:$font-stack-bold;
			font-size:9px;
			display:inline-block;
		}
	background-color:#216DDF; 
}

.contact-pro p {
	display:block; 
	font-family:OpenSans-Italic;
	font-size:11px;
	text-align:center;
	margin:0 auto;  
}

.contact-pro button {
	border:1px solid #02C7C6;
	font-family:$font-stack-bold;
	color:#083D8C; 
	font-size:15px;
	background-color:#FEFEFE;
	text-transform:none;
	padding:17px; 

	.fa-envelope {
		color:#083D8C;
		margin-right:12px; 
	}
}
.business-hour-container {
	display:block; 
}
.business-hours {
	text-align:center; 
	padding-top:20px;
	padding-bottom:20px; 

	li {
		font-family:$font-stack-reg; 
		font-family:13px;
		margin-bottom:10px;
		list-style:none;  
	}
	li:first-child {
		font-family:$font-stack-bold;
	}
}
.card-footer {
	background-color:#F6F6F6;
}
.card-footer-list {
	padding:25px; 
}
.card-footer-list li {
	display:inline-block; 
	margin-right:40px;
	padding-bottom:10px; 
	font-family:$font-stack-reg; 
	font-size:11px;
	color:#3F3F3F; 
	.fa-star, .fa-sun-o, .fa-home, .fa-users {
		padding-right:10px;
	}
}

//Media query for cards section  
@media (min-width:900px) {
	.cards {
		width:$width-full;
		padding:40px 20px 40px 20px;   
	}
	.card-title {
		padding-bottom:20px; 
	}
	.card-option:nth-child(2n) {
		.card-title{
			padding-top:20px;
			padding-bottom:0;
			line-height:25px;  
		}
	}
	.card-option {
		max-width:375px; 
		display:inline-block; 
		@include  border-radius(10px);
			hr {
		display:block; 
		width:275px; 
		margin:0 auto;
		color:#ECECEC;  
		}
	}
	.card-option button {
		background-color:$white;
		border:none;  
		display:block;
		margin:15px auto;
		color:black;
		font-size:25px; 
		padding-bottom:0;
		font-family:$font-stack-extra-bold;
			.fa-phone {
				display:inline-block; 
				color:#FEFEFE;
				background-color:#083D8C;
				@include border-radius(20px);
				font-size:12px;
				margin-top:0px;   
			}
			.tap {
				display:none; 
				} 
	}
	.contact-pro button {
		border:1px solid #02C7C6;
		font-family:$font-stack-bold;
		color:#083D8C; 
		font-size:15px;
		background-color:#FEFEFE;
		text-transform:none;
		padding:17px; 
		.fa-envelope {
			color:#083D8C;
			margin-right:12px; 
		}
	}	

}
///Footer information 
.footer-main {
	background-color:#083D8C;
	width:$width-full;
}
.social-footer {
	padding:40px 40px 15px 40px; 
	width:$width-full;  
	img {
		display:block;
		margin:0 auto;
		padding-right:60px;  
	}
	.social-icons {
	color:$white;
	font-size:15px;
	margin-top:35px; 
		p {
			font-family:$font-stack-bold;
			display:inline-block;
			text-transform:uppercase;
			margin-left:-30px;
			margin-right:150px; 
		}
		i {
			margin-right:5px;
			font-size:20px; 

		}
	}
}
//Media Querie for the cards  
@media (min-width:380px) { 
	.social-footer {
		.social-icons {
			width:375px;
			margin:0 auto;
			margin-top:35px;
			padding-left:90px;  
			p{
				margin-right:50px; 
			} 
		}
	}
}
.copyright-footer {
	background-color:#216DDF; 
	font-family:$font-stack-light;
	font-size:12px;
	color:$white;
	text-align:center; 
	font-weight:100;
	padding-top:25px; 

	padding-bottom:25px; 
	padding-right:10px; 
	padding-left:5px;
	width:$width-full;    
	a {
		color:$white; 
		text-decoration:none;
		margin-right:5px;
		margin-left:5px;  
	} 
	.fa-external-link {
		margin-left:5px; 
	}
	hr {
		width:328px; 
		margin-left:20px; 
	}
}
@media (min-width:380px) { 
	.dealers {
		display:none; 
	}
	.copyright-footer{
		hr {
		display:none; 
		}
	}
}

//Style for pop-up contact form  
.contact-a-pro {
	display:none; 
	z-index:99999; 
    background-color: white;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    max-width:405px; 
}
.form-title {
	background-color:#083D8C; 
	color:$white; 
	padding:20px 10px 20px 15px; 
	h1 {
		font-family:$font-stack-bold;
		text-transform:uppercase; 
		font-size:9px;
		padding-bottom:10px;  
	}
	p {
		font-size:20px; 
		font-family:$font-stack-light; 
		line-height:25px;
	}
}
.fill-out {
	font-family:$font-stack-reg;
	color:#616161;
	font-size:15px;
	padding-top:30px;
	padding-bottom:30px;  	 
}
.contact-a-pro input, textarea {
	border:1px solid #D8D8D8; 
	padding-right:190px;
}
.contact-a-pro input {
	padding:10px 190px 10px 10px; 
}
.name {
	padding-bottom:30px; 
	padding-left:10px; 
}
.phone {
	@extend .name; 
}
.email {
	@extend .name; 
}
.comments {
	@extend .name;
}
.pool-question-div {
	padding-left:10px; 
}
.phone input {
	max-width:50px; 
}
label {
	font-size:14px; 
	color:#616161; 
	font-family:$font-stack-bold;
}
.contact-a-pro hr {
	width:345px; 
	margin:0 auto; 
}
.contact-a-pro button {
	border:none; 
	font-size:15px; 
	font-family:$font-stack-bold; 
	color:$border-color;
	text-transform:uppercase; 
	float:right; 
	padding-right:25px; 
}
.comments p {
	color:#BEBEBE;
	font-size:14px;
	font-family:OpenSans-Italic; 
	float:right;
	padding-right:10px;  
}
.comments label {
	display:inline-block; 
}
.comments textarea {
	margin-bottom:10px;
	margin-right:10px; 
	//max-width:317px; 
	height:84px; 
}
.pool-question-div p {
	font-size:14px; 
	color:#616161; 
	font-family:$font-stack-bold;
	padding-bottom:20px; 
}
.pool-question-div {
	padding-bottom:20px; 
}
input[type=checkbox] {
	display:none; 
}
input[type=checkbox] + label {
	background: url("/assets/images/residential-radio-btn-copy.png") bottom left no-repeat;
	min-height: 20px;
	padding-left: 35px;
	display:inline-block;  
}		
input[type=checkbox]:checked + label {
	background: url("/assets/images/service-radio-btn.png") no-repeat;
	min-height: 20px;
	padding-left: 35px;
	display:inline-block; 
}
.check {
	display:none; 
	float:right;
	padding-right:20px; 
	padding-bottom:10px;  
}

.phone-check {
	display:none; 
	float:right; 
	padding-right:100px; 
	padding-bottom:10px; 
}
//Mask background for when the form pops up  
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 990;
}
/*
.pool-question label {
	background: url("/assets/images/service-radio-btn.png") no-repeat;
	min-height: 20px;
	padding-left: 35px;
	padding-top:10px; 
	display:inline-block; 
}
*/









